*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/modules.xml
.idea/vcs.xml
app/user_release_
.idea/runConfigurations.xml
.idea/misc.xml
.idea/gradle.xml
.idea/
.iml
app/release/
**/intermediates
app/buildpackage/*

